<link rel="stylesheet" href="/admin/styles/products.css">

<!-- Create Product -->
<section class="section-wrapper h-100 row p-3 m-0 pb-5">
  <!-- header -->
  <div class="col-12 mb-4 title-wrapper">
    <h4>Create Product</h4>
    <div class="d-inline-flex">
      <a href="/admin/products?from=add" class="create-btn me-2">
        Back
      </a>
      <button  class="create-btn publish-btn">
        Publish
      </button>
    </div>
  </div>
  
  <div class="col-12 info-box ">
    <form  id="add-product-form">

      <div class="row">

        <!-- Left section -->
        <div class="col-md-8">

          <!-- General Information -->
          <div class="card mb-4">
            <h5 class="card-header">General Information</h5>
            <div class="card-body">

              <div class="row mb-3">
                <div class="col-md-6">
                  <div>
                    <label for="nameInput" class="form-label">Product Name</label>
                    <input type="text" name="product_name" class="form-control {{#if product_info.product_name}}is-invalid{{/if}}" 
                      value="{{product_values.product_name}}"  id="nameInput" placeholder="Enter product name">
                    {{#if product_info.product_name}}<span class="invalid-feedback">{{product_info.product_name}}</span>{{/if}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label for="status-selector" class="form-label">Select Status</label>
                    <select name="product_status" class="form-select {{#if product_info.product_status}}is-invalid{{/if}}" id="status-selector">
                      <option selected value="">Select</option>
                      <option {{#if (eq product_values.product_status 'active')}} selected{{/if}} value="active">Active</option>
                      <option {{#if (eq product_values.product_status 'inactive')}} selected{{/if}} value="inactive">Inactive</option>
                    </select>
                    {{#if product_info.product_status}}<span class="invalid-feedback">{{product_info.product_status}}</span>{{/if}}
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <div>
                    <label for="slugInput" class="form-label">Slug</label>
                    <input type="text" name="product_slug" class="form-control {{#if product_info.product_slug}}is-invalid{{/if}}" 
                      value="{{product_values.product_slug}}"  id="slugInput" placeholder="eg: product-slug">
                    {{#if product_info.product_slug}}<span class="invalid-feedback">{{product_info.product_slug}}</span>{{/if}}
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
              
              <div>
                <label class="form-label" for="description">Description</label>
                <textarea name="description" class="form-control {{#if product_info.description}}is-invalid{{/if}}" 
                  placeholder="Leave descriptions here" id="description" style="height: 100px">{{product_values.description}}</textarea>
                {{#if product_info.description}}<span class="invalid-feedback">{{product_info.description}}</span>{{/if}}
              </div>
              
            </div>
          </div>

          <!-- Specification -->
          <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h5>Specification</h5>
              <a id="add-spec" class="btn text-primary">
                <i class="las la-plus"></i> Add Spec
              </a>
            </div>
            <div class="card-body p-0">
              <table class="table add-spec-table">
                <thead>
                  <tr>
                    <th><input type="checkbox" class="form-check-input"></th>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" class="form-check-input"></td>
                    <td>
                      <a class="btn btn-light border text-primary">
                        <i class="las la-plus"></i>
                      </a>
                    </td>
                    <td>
                      <div>
                        <input type="text" name="specifications[0][spec_name]" class="form-control {{#if product_info.spec_name}}is-invalid{{/if}}"
                          value="{{product_values.specifications.[0].[spec_name]}}" placeholder="Add spec name">
                        {{#if product_info.spec_name}}<span class="invalid-feedback">{{product_info.spec_name}}</span>{{/if}}
                      </div>
                    </td>
                    <td>
                      <div>
                        <input type="text" name="specifications[0][spec_value]" class="form-control {{#if product_info.spec_value}}is-invalid{{/if}}"
                          value="{{product_values.specifications.[0].[spec_value]}}" placeholder="Add spec value">
                        {{#if product_info.spec_value}}<span class="invalid-feedback">{{product_info.spec_value}}</span>{{/if}}
                      </div>
                    </td>
                    <td class="px-3">
                      <a id="" class="btn btn-light border">
                        <i class="lar la-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>

          <!-- Add Image -->
          <div class="card image-window mb-4" style="{{#if product_info.images}}border-color: var(--invalid-color){{/if}}">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h5 class="m-0">Media</h5>
              {{#if product_info.images}}<span class="text-danger">{{product_info.images}}</span>{{/if}}
              <div class="d-inline-flex align-items-center w-auto">
                <a class="btn border">
                  <i class="lar la-trash-alt"></i>
                </a>
                <div>
                  <input type="file" id="imageInput" accept="image/*" multiple class="d-none">
                  <label class="btn text-primary" for="imageInput"><i class="las la-plus"></i> Add Image</label>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="img-viewer row gx-4 align-items-start justify-content-between px-3">
                <div class="col-md-2 rounded-4 media-thumb-container">
                  <div class="media-thumb-wrapper thumb-place-holder border rounded-4 mb-2">
                    <img class="img-fluid p-4" src="/admin/images/icons/image_add.png" alt="">
                  </div>
                </div>
                <div class="media-cropper col-md-10 pe-0">
                  <div class="media-img-wrapper border rounded-4 overflow-hidden mb-3">
                    <img id="cropper" src="/admin/images/icons/upload_icon.png" alt="">
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <a class="btn border">
                        <i class="las la-undo"></i>
                      </a>
                      <a class="btn border">
                        <i class="las la-redo"></i>
                      </a>
                      <a class="btn border">
                        <i class="las la-sync-alt"></i>
                      </a>
                    </div>
                    <div>
                      <a class="btn border">
                        <i class="las la-undo-alt"></i>
                      </a>
                      <a class="btn border">
                        <i class="las la-redo-alt"></i>
                      </a>
                      <a id="crop-btn" class="btn border">
                        <i class="las la-crop-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

        </div>

        <!-- Right section -->
        <div class="col-4">
          <!-- Pricing -->
          <div class="card mb-4">
            <h5 class="card-header">Pricing &amp; Availability</h5>
            <div class="card-body">
              <div class="mb-3">
                <label for="original-price" class="form-label">Price</label>
                <input type="number" name="original_price" class="form-control {{#if product_info.original_price}}is-invalid{{/if}}"
                  value="{{product_values.original_price}}" id="original-price" placeholder="Enter original price">
                {{#if product_info.original_price}}<span class="invalid-feedback">{{product_info.original_price}}</span>{{/if}}
              </div>
              <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" name="stock" class="form-control {{#if product_info.stock}}is-invalid{{/if}}"
                  value="{{product_values.stock}}" id="stock" placeholder="Enter current stock">
                {{#if product_info.stock}}<span class="invalid-feedback">{{product_info.stock}}</span>{{/if}}
              </div>
            </div>
          </div>

          <!-- Organaization -->
          <div class="card mb-4">
            <h5 class="card-header">Organaization</h5>
            <div class="card-body">
              <div class="mb-4">
                <label for="brand-select" class="form-label">Brand</label>
                <select name="brand" class="form-select {{#if product_info.brand}}is-invalid{{/if}}" id="brand-select">
                  <option selected value="">Select Brand</option>
                  <option value="apple" {{#if (eq product_values.brand 'apple')}}selected{{/if}}>Apple</option>
                  <option value="samsung" {{#if (eq product_values.brand 'samsung')}}selected{{/if}}>Samsung</option>
                  <option value="xiaomi" {{#if (eq product_values.brand 'xiaomi')}}selected{{/if}}>Xiaomi</option>
                  <option value="vivo" {{#if (eq product_values.brand 'vivo')}}selected{{/if}}>Vivo</option>
                  <option value="motorola" {{#if (eq product_values.brand 'motorola')}}selected{{/if}}>Motorola</option>
                </select>
                {{#if product_info.brand}}<span class="invalid-feedback">{{product_info.brand}}</span>{{/if}}
              </div>
              <div class="mb-4">
                <label for="category-select" class="form-label">Category</label>
                <select name="category" class="form-select {{#if product_info.category}}is-invalid{{/if}}" id="category-select">
                  <option selected value="">Select Category</option>
                  {{#each categories}}
                    <option value="{{this._id}}">{{this.category_name}}</option>
                  {{/each}}
                </select>
                {{#if product_info.category}}<span class="invalid-feedback">{{product_info.category}}</span>{{/if}}
              </div>
            </div>
          </div>

        </div>

      </div>
    </form>
    
  </div>
</section>

<script>

  
  /* File input */
  let cropper;
  let imageFiles = [], croppedFiles = [], variantTypes = [], variantOptions = [];
  let imgs = {{#if product_values.images}} {{{json product_values.images}}} {{else}} undefined {{/if}};

  // insert images to board
  $('#imageInput').on('change',function(e){

    const allowedImageTypes = ['image/jpeg','image/jpg', 'image/png', 'image/bmp'];

    $('.media-thumb-container div.thumb-place-holder').remove()
    const files = Array.from(e.target.files);
    $('#cropper').attr('src',URL.createObjectURL(files[0]))

    for(let i = 0; i < files.length; i++){
      const file = files[i];
        if(!allowedImageTypes.includes(file.type)){
          Swal.fire({
            title: 'Error',
            text: `File type '${file.type}' is not supported`,
            icon: 'error',
            confirmButtonText: 'Okay'
          })
          $('#cropper').attr('src','/admin/images/icons/upload_icon.png')
          $('.media-thumb-container').append(
            `<div class="media-thumb-wrapper thumb-place-holder border rounded-4 mb-2">
              <img class="img-fluid p-4" src="/admin/images/icons/image_add.png" alt="">
            </div>`
          )
          return false
        }

        const ind = imageFiles.length ? imageFiles.length + i : i;

        const reader = new FileReader();
        reader.index = ind
        reader.onload = (event) => {
            // Show the cropping modal
            $('.media-thumb-container').append(`<div class="media-thumb-wrapper border rounded-4 mb-2">
                <a id="btn-delete-thumb" class="btn-thumb-delete">
                  <i class="lar la-trash-alt"></i>
                </a>
                <img src="${event.target.result}" alt="">
              </div>`)

            // Save image file for later use
            file.index = ind
            imageFiles.push(file);
        };
        reader.readAsDataURL(file);
    };
  })

  // show crop view on thumbnail click
  $('.media-thumb-container').on('click','div.media-thumb-wrapper',async function(e){
    
    const ind = $(this).index()
    
    const file = imageFiles.find(file => file.index === ind)
    const reader = new FileReader();
    reader.onload = function(event){
      showCropper(event,ind)
    }
    reader.readAsDataURL(file);

  })

  function showCropper(event,index){
    const image = document.getElementById('cropper');
                
    image.src = event.target.result;
    image.style.display = 'block';

    if (cropper) {
        cropper.destroy();
    }

    cropper = new Cropper(image, {
        aspectRatio: 1, // Change this to the desired aspect ratio
        viewMode: 2,
        background: false,
        autoCropArea:1
    });
    cropper.index = index
  }

  // load images from db
  
  if(imgs){

    $('.media-thumb-container div.thumb-place-holder').remove()
    imgs.forEach(async function(img, i) {
      $('.media-thumb-container').append(`<div class="media-thumb-wrapper reloader border rounded-4 mb-2">
        <a id="btn-delete-thumb" class="btn-thumb-delete">
          <i class="lar la-trash-alt"></i>
        </a>
        <img src="${img.base64}" alt="">
      </div>`)
      
      const imgContainer = $($('.media-thumb-container')[i]).find('img')[0];
      if(imgContainer){
        const src =  $($('.media-thumb-container')[i]).find('img')[0].src
      
        await fetch(src, {mode:'no-cors'})
        .then(response => {
          return response.blob()
        }).then(blob => {
          const fileFormServer = new File([blob],src.split('/').pop());
          $('#cropper').attr('src',URL.createObjectURL(fileFormServer))
        })
      }

      const imgFile = new File([base64ToBlob(img.base64)],img.filename,{type: 'image/jpg'})
      imgFile.index = i
      imageFiles.push(imgFile)
      croppedFiles.push(imgFile)
    })
  }
  
  // crop image
  $('#crop-btn').on('click',function(e){

    const canvas = cropper.getCroppedCanvas();
    const filename = imageFiles[cropper.index].name;
    canvas.toBlob(blob => {
      const fileFormServer = croppedFiles.map(file => file.name)
      if(fileFormServer.includes(filename)){
        croppedFiles = croppedFiles.filter(file => file.name !== filename)
      }
      const croppedFile = new File([blob],filename,{type: 'image/jpg'});
      croppedFile.index = cropper.index
      croppedFiles.push(croppedFile)
      
      // update thumbnail in viewer
      let thumbViewer = $($('.media-thumb-container').children()[cropper.index]).children('img')[0]
      thumbViewer.src = URL.createObjectURL(croppedFile)
      cropper.destroy()
    })
        
  })

  // remove iamge & thumbnail from board on delete click
  $('.media-thumb-container').on('click','div.media-thumb-wrapper a', function(e) {
    
    e.stopPropagation();
    const index = $(this).parent().index()
    imageFiles.splice(index,1);
    croppedFiles.splice(index,1)
    if(!imageFiles.length){
      if (cropper) {
        cropper.destroy();
      }
      $('#cropper').attr('src','/admin/images/icons/upload_icon.png')
      $('.media-thumb-container').append(
        `
        <div class="media-thumb-wrapper thumb-place-holder border rounded-4 mb-2">
          <img class="img-fluid p-4" src="/admin/images/icons/image_add.png" alt="">
        </div>
        `
      )
    }
    
    $(this).closest('div.media-thumb-wrapper').remove();
  })

  // add specification
  let specs = '{{{json product_values.specifications}}}'
  
  if(specs && specs != 'null'){
    specs = JSON.parse(specs)
    
    if(specs.length > 1){
      const frm = $('.add-spec-table').find('tbody');
      $(frm).find('tr').remove()
      
      specs.forEach((el,i) => {
        
        $(frm).append(
        `
          <tr>
            <td><input type="checkbox" class="form-check-input"></td>
            <td>
              <a class="btn btn-light border text-primary">
                <i class="las la-plus"></i>
              </a>
            </td>
            <td>
              <div class="">
                <input type="text" name="specifications[${i}][spec_name]" class="form-control" 
                  placeholder="Add spec name" value="${el['spec_name']}">
              </div>
            </td>
            <td>
              <div class="">
                <input type="text" name="specifications[${i}][spec_value]" class="form-control" 
                  placeholder="Add spec value" value="${el['spec_value']}">
              </div>
            </td>
            <td class="px-3">
              <a class="btn btn-light border del-variant">
                <i class="lar la-trash-alt"></i>
              </a>
            </td>
          </tr>
        `
        )
      })
    }

  }

  $('#add-spec').on('click', function(){
    const frm = $('.add-spec-table').find('tbody');
    let index = $(frm).children('tr').length;
    
    $(frm).append(
      `
      <tr>
        <td><input type="checkbox" class="form-check-input"></td>
        <td>
          <a class="btn btn-light border text-primary">
            <i class="las la-plus"></i>
          </a>
        </td>
        <td>
          <div class="">
            <input type="text" name="specifications[${index}][spec_name]" class="form-control" placeholder="Add spec name">
          </div>
        </td>
        <td>
          <div class="">
            <input type="text" name="specifications[${index}][spec_value]" class="form-control" placeholder="Add spec value">
          </div>
        </td>
        <td class="px-3">
          <a class="btn btn-light border del-variant">
            <i class="lar la-trash-alt"></i>
          </a>
        </td>
      </tr>
      `
    )
  })

  // remove spec row
  $('.add-spec-table tbody').on('click','a',function() {
    $(this).closest('tr').remove()
  })

  // setup category select
  $('#category-select option').each(function(){
    const selectedValue = '{{product_values.category}}'
    if(selectedValue){
      if($(this).val() == selectedValue){
        $(this).attr('selected',true)
      }
    }
  })

  // add variant type
  $('#btn-add-type').on('click',async function(){
    const len = $('.add-variant-table tbody').children('tr').length;
    if(!len){
      insertVariantRow()
    }

    $('.list-group').append(
      `
      <div class="list-group-item d-flex align-items-center justify-content-between">
        <div class="d-inline-flex me-2">
          <input class="form-check-input me-3" id="check-var-type" type="checkbox">
        </div>
        <div class="d-inline-flex me-2">
          <input type="text" id="var-type-name" class="form-control" placeholder="eg: Size">
        </div>
        <div class="d-inline-flex me-2">
          <input type="text" id="var-type-option" class="form-control" placeholder="eg: XL">
        </div>
        <div class="d-inline-flex">
          <a class="btn btn-light border" id="">
            <i class="lar la-trash-alt"></i>
          </a>
        </div>
      </div>
      `
    )
  })

  // add variant type to varaints table
  $('.list-group').on('change','input:checkbox',function(e){

    const varName = $(this).closest('div.list-group-item').find('input#var-type-name').val()
    const varOption = $(this).closest('div.list-group-item').find('input#var-type-option').val()
    const len = $('.add-variant-table tbody').children().length;
    const name_select = $('.add-variant-table tbody').children().find('#var-name-select').toArray();
    const option_select = $('.add-variant-table tbody').children().find('#var-option-select').toArray();

    if($(this).is(':checked')){
      fillVariantDropDowns(len,varName,varOption,name_select,option_select)
    }else{
      // Remove unselected variant type to list in table
      removeVariantOptions(len,varName,varOption,name_select,option_select)
    }
  })

  // remove varaint type
  $('.list-group').on('click','a',function(){
    const varName = $(this).closest('div.list-group-item').find('input#var-type-name').val()
    const varOption = $(this).closest('div.list-group-item').find('input#var-type-option').val()
    const len = $('.add-variant-table tbody').children().length;
    const name_select = $('.add-variant-table tbody').children().find('#var-name-select').toArray();
    const option_select = $('.add-variant-table tbody').children().find('#var-option-select').toArray();

    removeVariantOptions(len,varName,varOption,name_select,option_select)

    $(this).closest('div.list-group-item').remove()
  })

  function fillVariantDropDowns(totalChildren, variantName, variantOption, nameSelect, optionSelect){
    // Add selected variant type to list in table
    if(totalChildren && variantName.length && variantOption.length){
      
      nameSelect.forEach((el,i) => {
        $(el).append(new Option(variantName))
        $($(optionSelect)[i]).append(new Option(variantOption))
      })
    }
  }

  function removeVariantOptions(totalChildren, variantName, variantOption, nameSelect, optionSelect){

    if(totalChildren){
        
      nameSelect.forEach((el,i) => {
        
        $(el).find('option').toArray().forEach(txt => {
          const text = $(txt).text()
          if(text === variantName){
            el.removeChild(txt)
          }
        })

        $($(optionSelect)[i]).find('option').toArray().forEach(txt=> {
          const text = $(txt).text()
          if(text === variantOption){
            optionSelect[i].removeChild(txt)
          }
        })
        
      })
    }
  }

  // add variant
  $('#btn-add-variant').on('click', function(){
    insertVariantRow()
  })

  function insertVariantRow(){
    const frm = $('.add-variant-table').find('tbody');
    let index = $(frm).children('tr').length
    return $(frm).append(
      `<tr>
        <td><input type="checkbox" class="form-check-input"></td>
        <td class="">
          <a class="btn btn-light border text-primary">
            <i class="las la-plus"></i>
          </a>
        </td>
        <td>
          <div class="">
            <select name="variants[${index}][var_name]" class="form-select" id="var-name-select">
              <option selected value="">Select Name</option>
            </select>
          </div>
        </td>
        <td>
          <div class="">
            <select name="variants[${index}][var_option]" class="form-select" id="var-option-select">
              <option selected value="">Select Option</option>
            </select>
          </div>
        </td>
        <td>
          <div class="">
            <input type="text" name="variants[${index}][var_price]" class="form-control" placeholder="Price">
          </div>
        </td>
        <td>
          <div class="">
            <input type="text" name="variants[${index}][var_count]" class="form-control" placeholder="Count">
          </div>
        </td>
        <td class="px-3">
          <a class="btn btn-light border" id="btn-del-variant">
            <i class="lar la-trash-alt"></i>
          </a>
        </td>
      </tr>`
    )
  }

  let variants = '{{{json product_values.variants}}}'

  if(variants && variants != 'null'){
    variants = JSON.parse(variants)
    const frm = $('.add-variant-table').find('tbody');
    if($(frm).children('tr').length > 0) $(frm).find('tr').remove();

    variants.forEach((el, i) => {

      $('.list-group').append(
      `
        <div class="list-group-item d-flex align-items-center justify-content-between">
          <div class="d-inline-flex me-2">
            <input class="form-check-input me-3" id="check-var-type" type="checkbox" checked>
          </div>
          <div class="d-inline-flex me-2">
            <input type="text" id="var-type-name" class="form-control" value="${el['var_name']}" placeholder="eg: Size">
          </div>
          <div class="d-inline-flex me-2">
            <input type="text" id="var-type-option" class="form-control" value="${el['var_option']}" placeholder="eg: XL">
          </div>
          <div class="d-inline-flex">
            <a class="btn btn-light border" id="">
              <i class="lar la-trash-alt"></i>
            </a>
          </div>
        </div>
        `
      )

      $(frm).append(`
        <tr>
          <td><input type="checkbox" class="form-check-input"></td>
          <td class="">
            <a class="btn btn-light border text-primary">
              <i class="las la-plus"></i>
            </a>
          </td>
          <td>
            <div class="">
              <select name="variants[${i}][var_name]" class="form-select" id="var-name-select">
                <option selected value="">Select Name</option>
                <option selected value="${el['var_name']}">${el['var_name']}</option>
              </select>
            </div>
          </td>
          <td>
            <div class="">
              <select name="variants[${i}][var_option]" class="form-select" id="var-option-select">
                <option selected value="">Select Option</option>
                <option selected value="${el['var_option']}">${el['var_option']}</option>
              </select>
            </div>
          </td>
          <td>
            <div class="">
              <input type="text" name="variants[${i}][var_price]" class="form-control" placeholder="Price" value="${el['var_price']}">
            </div>
          </td>
          <td>
            <div class="">
              <input type="text" name="variants[${i}][var_count]" class="form-control" placeholder="Count" value="${el['var_count']}">
            </div>
          </td>
          <td class="px-3">
            <a class="btn btn-light border" id="btn-del-variant">
              <i class="lar la-trash-alt"></i>
            </a>
          </td>
        </tr>
      `)
    })
  }

  // remove variant table row
  $('.add-variant-table tbody').on('click','a', function(e){
    $(this).closest('tr').remove();
  })

  $('#slugInput').on('keyup',function(){
    $(this).val($(this).val().replaceAll(' ','-'))
  })

  $('#nameInput').on('keyup',function(){
    $('#slugInput').val($(this).val().replaceAll(' ','-'))
  })

  $('.publish-btn').on('click',async function(){

    let data = new FormData(document.getElementById('add-product-form'))
    croppedFiles.forEach(file => {
      data.append('images',file)
    })

    const slug = $('#slugInput').val()

    $('.loader-bg').css('display','flex')
    await fetch(`/admin/publish-product?section=products`, {
      method: 'POST',
      body: data,
      
    }).then(res => res.json()).then(res => {
      
      Swal.fire({
        title: res.title,
        text: res.msg,
        icon: res.icon,
      }).then(async ()=>{
        $('.loader-bg').css('display','none')
        if(res.status == 201){
          croppedFiles = []
        }
        //clear the last status to prevent show msg everytime
        await fetch(`/admin/products/clear-session/${res.status}`)
          .then(resp => resp.json()).then(resp => window.location.reload())
      });
    }).catch(err =>{
      $('.loader-bg').css('display','none')
      console.log(err)
    });
      
  })

  function base64ToBlob(base64, mimeType) {
    const base64Data = base64.split(',')[1];
    const binaryData = atob(base64Data);
    const byteArrays = [];
    for (let offset = 0; offset < binaryData.length; offset++) {
      const byte = binaryData.charCodeAt(offset);
      byteArrays.push(byte);
    }

    // Create a Blob from the byte arrays
    const byteArray = new Uint8Array(byteArrays);
    const blob = new Blob([byteArray], { type: mimeType });

    return blob;
  }

</script>